@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "DM Sans", serif;
}

.quiet {
  background-color: black;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    outline: none;
    height: 28em;
    width: 62.5em;
    background-color: #242424;
    -webkit-transform: skewX(-7deg);
    -ms-transform: skewX(-7deg);
    transform: skewX(-7deg);
    -webkit-transition: transform 0.4s ease;
    -o-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
    border-radius: 1em; 
}

input[type="checkbox"]:before {
    content: "";
    position: absolute;
    width: 24em;
    height: 24em;
    background-color: #2d2936;
    color: #a0a0a0;
    top: 2.1em;
    left: 2.1em;
    -webkit-transition: transform 0.4s ease;
    -o-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    border-radius: 0.5em; 
}

input[type="checkbox"]:checked {
    background: linear-gradient(135deg, #75bc77, #28764f);
    border-radius: 1em; 
}

input[type="checkbox"]:checked:before {
    left: 4.1em;
    color: #89befe;
    -webkit-transform: translateX(32em);
    -ms-transform: translateX(32em);
    transform: translateX(32em);
    border-radius: 0.5em; 
}

.head {
  position: fixed;
  display: flex;
  padding: 50px 100px;
  margin: 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1001;
  justify-content: space-between;
  align-items: center;
}

header ul {
  position: relative;
  display: flex;
  list-style: none;
}

header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
  color: #ffffff;
}

section {
  padding: 100px;
}

header.sticky {
  padding: 40px 100px;
  background: #f8f8f8;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0, 0.5);
}

header.sticky .logo {
  color: #6b6b6b;
}

header.sticky ul li a {
  color: #6b6b6b;
}

header .logo {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: #ffffff;
}
