@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "DM Sans", serif;
}

header {
  position: fixed;
  display: flex;
  padding: 50px 100px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1001;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background: transparent;
}

header.sticky {
  padding: 40px 100px;
  background: #f8f8f8;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

header ul {
  position: relative;
  display: flex;
  list-style: none;
}

header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
  color: #75bc77;
}

section {
  padding: 100px;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(190deg, #f5fbf4, #d1edcc, #75bc77, #28764f);
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  color: #ffffff;
}

.homepage h1 {
  margin-left: 4%;
  margin-bottom: 20px;
  font-size: 100px;
}

.homepage p {
  margin-left: 4%;
  max-width: 65%;
  line-height: 1.5em;
}

header .logo {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: #75bc77;
}

.button-container {
  display: flex;
  gap: 1.5em;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em;
  margin-left: 4%;
}

a.btn, .btn {
  padding: 1.2em 2.5em;
  position: relative;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #28764f;
  background: #ffffff;
  transition: transform 0.3s, background 0.3s;
  width: 160px;
  text-align: center;
}

a.btn::after, .btn::after {
  padding: 1.2em 2.5em;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transition: transform 1s;
  border-radius: 50px;
  background: #ffffff;
  width: 160px;
}

a.btn:hover, .btn:hover {
  background: #f0f0f0;
  transform: scale(1.05);
}

a.btn:hover::after, .btn:hover::after {
  z-index: 1;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .homepage h1 {
    font-size: 60px;
  }

  .homepage p {
    font-size: 1.2em;
    max-width: 90%;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }

  a.btn, .btn {
    font-size: 14px;
    padding: 1em 3em;
    width: 150px;
  }
}
